body {
    font-family: sans-serif;
    background-color: #3c4354;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #8681e3;
}


.server-selection {
    background-color: #2a2f3d;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #8681e3;
}

.server-selection select {
    padding: 8px;
    border-radius: 4px;
    background: #c5ddf4;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.charts-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}

.chart-box {
    background-color: #c5ddf4;
    padding: 20px;
    border-radius: 8px;
    width: 45%;
    min-width: 300px;
}


.status-container {
    background-color: #c5ddf4;
    padding: 20px;
    border-radius: 8px;
    margin-top: 10px;
}

#diskUsage {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: #f5880c;
}