body {
    font-family: sans-serif;
    background-color: #3c4354;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

h1, h3 {
    text-align: center;
    color: #8681e3;
}

.charts-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}

.chart-box {
    background-color: #c5ddf4;
    padding: 20px;
    border-radius: 8px;
    width: 45%;
    min-width: 300px;
}

.status-container {
    background-color: #c5ddf4;
    padding: 20px;
    border-radius: 8px;
}

#diskUsage {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #f5880c;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #444;
}

th {
    background-color: #383fb9;
    color: white;
}

tr:hover {
    background-color: #3d3d3d;
}